*, *::after, *::before {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

body {
    background-color: darkslategrey;
    font-family: 'Open Sans', sans-serif;
}

.header {
    text-align: center;
}


.container {
    border: 5px red solid;
    width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    
}

.row {
    display: flex;
}

.calc-input {

}

.button {
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;    
    width: 50px;
    height: 50px;
    border: solid 1px black;
    padding: 0.5em 1em;
    border-radius: 6px;
    box-shadow: 0 10px 20px rgba(225, 29, 72, 0.5), 0 6px 6px rgba(225, 29, 72, 0.5), 0 0 100px -10px var(--clr-rose);
    transition: transform 0.3s, box-shadow 0.3s;        
}